[submodule "dwm"]
	path = dwm
	url = git@bitbucket.org:adrian-castravete/dwm
[submodule "dwmstatus"]
	path = dwmstatus
	url = git@bitbucket.org:adrian-castravete/dwmstatus
[submodule "dmenu"]
	path = dmenu
	url = git@bitbucket.org:adrian-castravete/dmenu
[submodule "st"]
	path = st
	url = git@bitbucket.org:adrian-castravete/st
[submodule "surf"]
	path = surf
	url = git@bitbucket.org:adrian-castravete/surf.git
